<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <httpHandlers>
      <!--<add path="*Z.IconLibrary.FarmFresh16.axd" verb="*" type="Z.IconLibrary.FarmFresh16.IconResourceHandler" validate="false" />-->
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <!--<add name="Z.IconLibrary.FarmFresh.RessourceHandler" verb="*" path="*Z.IconLibrary.FarmFresh.axd" preCondition="integratedMode" type="Z.IconLibrary.FarmFresh.IconResourceHandler" />-->
      <!--<add name="Z.IconLibrary.FarmFresh16.RessourceHandler" verb="*" path="*Z.IconLibrary.FarmFresh16.axd" preCondition="integratedMode" type="Z.IconLibrary.FarmFresh16.IconResourceHandler" />-->
      <!--<add name="Z.IconLibrary.Silk.RessourceHandler" verb="*" path="*Z.IconLibrary.Silk.axd" preCondition="integratedMode" type="Z.IconLibrary.Silk.IconResourceHandler" />-->
      <add name="Z.IconLibrary.Fugue.RessourceHandler" verb="*" path="*Z.IconLibrary.Fugue.axd" preCondition="integratedMode" type="Z.IconLibrary.Fugue.IconResourceHandler"/>
      <!--<add name="Z.IconLibrary.FarmFresh16.RessourceHandler" verb="*" path="*Z.IconLibrary.FarmFresh16.axd" preCondition="integratedMode" type="Z.IconLibrary.FarmFresh16.IconResourceHandler" />-->
      <!--<add name="Z.IconLibrary.Silk.RessourceHandler" verb="*" path="*Z.IconLibrary.Silk.axd" preCondition="integratedMode" type="Z.IconLibrary.Silk.IconResourceHandler" />-->
    </handlers>
  </system.webServer>
</configuration>