<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="SendServiceWcf" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1408/SendMessageService.svc/SendMessageService"
                binding="wsDualHttpBinding" bindingConfiguration="SendServiceWcf"
                contract="SendMessageService.ISendMessageService" name="SendServiceWcf">
                <identity>
                    <userPrincipalName value="UKYNDA-001\lhmlyx2723356" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>