<?xml version="1.0"?>
<ConfigHelper xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ConfigVer>1</ConfigVer>
  <MongoBinPath />
  <LanguageFileName>简体中文.xml</LanguageFileName>
  <RefreshStatusTimer>30</RefreshStatusTimer>
  <ReadPreference />
  <WriteConcern />
  <WaitQueueSize>0</WaitQueueSize>
  <wtimeoutMS>0</wtimeoutMS>
  <SaveConnectionList>
    <MongoConnectionConfig>
      <ConnectionName>127.0.0.1</ConnectionName>
      <ConnectionString />
      <DataBaseName />
      <IsReadOnly>false</IsReadOnly>
      <ReplSetName />
      <ReplsetList />
      <Host>127.0.0.1</Host>
      <Port>27017</Port>
      <UseSsl>false</UseSsl>
      <UserName />
      <Password />
      <VerifySslCertificate>false</VerifySslCertificate>
      <connectTimeoutMS>0</connectTimeoutMS>
      <socketTimeoutMS>0</socketTimeoutMS>
      <fsync>false</fsync>
      <journal>false</journal>
      <IsUseDefaultSetting>false</IsUseDefaultSetting>
      <ReadPreference />
      <WriteConcern />
      <WaitQueueSize>0</WaitQueueSize>
      <wtimeoutMS>0</wtimeoutMS>
    </MongoConnectionConfig>
  </SaveConnectionList>
</ConfigHelper>