<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <!--<system.serviceModel>
    <services>
      <service behaviorConfiguration="CalculatorServiceBehavior" name="Nikita.Assist.WcfService.Service1">
        <endpoint address="net.tcp://localhost:13125/Binding/Service1"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding2"
          contract="Nikita.Assist.WcfService.IService1" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:13126/Service1" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CalculatorServiceBehavior" name="Nikita.Assist.WcfService.ImageService">
        <endpoint address="net.tcp://localhost:13125/Binding/ImageService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding2"
          contract="Nikita.Assist.WcfService.IImageService" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add  baseAddress="http://localhost:13126/ImageService" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CalculatorServiceBehavior" name="Nikita.Assist.WcfService.MsSqlDataAccessService">
        <endpoint address="net.tcp://localhost:13125/Binding/MsSqlDataAccessService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding2"
          contract="Nikita.Assist.WcfService.IMsSqlDataAccessService" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add  baseAddress="http://localhost:13126/MsSqlDataAccessService" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="CalculatorServiceBehavior" name="Nikita.Assist.WcfService.PermissionService">
        <endpoint address="net.tcp://localhost:13125/Binding/PermissionService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding2"
          contract="Nikita.Assist.WcfService.IPermissionService" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add  baseAddress="http://localhost:13126/PermissionService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    -->
  <!--定义ServiceBehavior的行为-->
  <!--
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding2" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>-->

  <connectionStrings>
    <add name="JewelryFranchiseeSystem" connectionString="Data Source=localhost;Initial Catalog=JewelryFranchiseeSystem;Persist Security Info=True;User ID=sa;Password=12345678" />
    <add name="Framework1.0" connectionString="Data Source=UKYNDA-001;Initial Catalog=Framework1.0;Persist Security Info=True;User ID=sa;Password=12345678" />
    <add name="Permission" connectionString="Data Source=UKYNDA-001;Initial Catalog=Permission;Persist Security Info=True;User ID=sa;Password=12345678" />
  </connectionStrings>
  <appSettings>
    <add key="image" value="image" />
    <add key="iconname" value="icon.ico" />
    <add key="startimg" value="start.png" />
    <add key="stopimg" value="stop.png" />
    <add key="exitimg" value="exit.png" />
    <add key="ProdImgFile" value="D:\\Image\\ProdImgFile" />
    <add key="ImgFile" value="D:\\Image\\ImgFile" />
    <add key="SmallPic" value="D:\\Image\\SmallPic" />
    <add key="ReadFile" value="D:\\Image\\SmallPic" />
    <add key="UpdateUrl" value="D:\\Image\\UpdateUrl" />
    <add key="RecentOrgFile" value="D:\\Image\\RecentOrgFile" />
    <add key="RecentSmallFile" value="D:\\Image\\RecentSmallFile" />
    <add key="RecentBigFile" value="D:\\Image\\RecentBigFile" />
    <add key="SystemUpdateFilePath" value="D:\\Image\\" />
    <add key="AutoRunService" value="true" />
    <add key="AutoRun" value="false" />
  </appSettings>
</configuration>