<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="defaultpath" value="D:\\WorkSpace\\lhm\\H.M.Framework\\H.M.Frame\\bin\\Debug"/>
    <add key="defaultfilename" value="H.M.Frame"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService1">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:13125/Binding/Service1" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1" contract="ServiceReference1.IService1" name="NetTcpBinding_IService1"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
