<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BtProduceCS" value="Permission" />
    <add key="UploadBigImgPath" value="BigImg" />
    <add key="UploadSmallImgPath" value="SmallImg" />
    <add key="autoupdateimg" value="autoupdate.png" />
    <add key="SystemUpdateFilePath" value="SystemUpdateFile" />
    <add key="DefaultExpandedGroup" value="1" />
    <add key="SystemStyle" value="Ribbon" />
    <add key="NeedShortcut" value="true" />
    <add key="DxRptHight" value="300" />
    <add key="DxRptWidth" value="300" />
    <add key="AutoLogin" value="true" />
    <add key="AutoRunFrm" value="FrmBseRole*角色管理|FrmBseOrganize*机构管理" />
    <!--<add key="PrintMacName" value="\\192.168.16.16\HP LaserJet P1008" />-->
    <add key="PrintMacName" value="Microsoft XPS Document Writer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMsSqlDataAccessService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:13125/Binding/MsSqlDataAccessService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMsSqlDataAccessService" contract="ServiceReference1.IMsSqlDataAccessService" name="NetTcpBinding_IMsSqlDataAccessService" />
    </client>
  </system.serviceModel>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>