<?xml version="1.0"?>
<configuration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="ActivityTracing">
        <listeners>
          <add name="mylisteners" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\234.txt" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="ActivityTracing">
     <listeners>
          <add name="messagelogging" type="System.Diagnostics.XmlWriterTraceListener" initializeData="D:\2.txt" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <system.serviceModel>
    <!--<diagnostics>
    <messageLogging logEntireMessage="true" logMalformedMessages="true"  logMessagesAtTransportLevel="true" />
    </diagnostics>-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" maxConcurrentSessions="2147483647" />
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true"  />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      		<behavior name="Nikita.Assist.WcfService.SendMessageServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService1" closeTimeout="00:60:00"
openTimeout="00:60:00" receiveTimeout="00:60:00" sendTimeout="00:60:00"
transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
hostNameComparisonMode="StrongWildcard" listenBacklog="10"
maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10000"
maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      
        <binding name="NetTcpBinding_IImageService" closeTimeout="00:60:00"
openTimeout="00:60:00" receiveTimeout="00:60:00" sendTimeout="00:60:00"
transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
hostNameComparisonMode="StrongWildcard" listenBacklog="10"
maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10000"
maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
       
        <binding name="NetTcpBinding_IMsSqlDataAccessService" closeTimeout="00:60:00"
openTimeout="00:60:00" receiveTimeout="00:60:00" sendTimeout="00:60:00"
transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
hostNameComparisonMode="StrongWildcard" listenBacklog="10"
maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10000"
maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>

        <binding name="NetTcpBinding_IPermissionService" closeTimeout="00:60:00"
openTimeout="00:60:00" receiveTimeout="00:60:00" sendTimeout="00:60:00"
transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
hostNameComparisonMode="StrongWildcard" listenBacklog="10"
maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10000"
maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:13125/Binding/Service1"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1"
        contract="ServiceReference1.IService1" name="NetTcpBinding_IService1" />

      <endpoint address="net.tcp://localhost:13125/Binding/ImageService"
  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IImageService"
  contract="ServiceReference2.IImageService" name="NetTcpBinding_IImageService" />

      <endpoint address="net.tcp://localhost:13125/Binding/MsSqlDataAccessService"
  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMsSqlDataAccessService"
  contract="ServiceReference3.IMsSqlDataAccessService" name="NetTcpBinding_IMsSqlDataAccessService" />

      <endpoint address="net.tcp://localhost:13125/Binding/PermissionService"
  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPermissionService"
  contract="ServiceReference4.IPermissionService" name="NetTcpBinding_IPermissionService" />
    </client>
  <services>
			<service behaviorConfiguration="Nikita.Assist.WcfService.SendMessageServiceBehavior" name="Nikita.Assist.WcfService.SendMessageService">
				<endpoint address="http://localhost:1407/SendMessageService.svc" binding="wsDualHttpBinding" contract="Nikita.Assist.WcfService.ISendMessageService">
					<identity>
						<dns value="localhost"/>
					</identity> 
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>