<log4net>
  <!-- 错误日志类-->
  <logger name="logerror">
    <level value="ALL" />
    <appender-ref ref="ErrorAppender" />
  </logger>
  <!-- 信息日志类 -->
  <logger name="loginfo">
    <level value="ALL" />
    <appender-ref ref="InfoAppender" />
  </logger>

  <!--根据logger获取ILog对象-->
  <logger name="logger">
    <!--control log level: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
    <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="LogSmtpAppender" />
  </logger>

  <!-- 错误日志附加介质-->
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="PermissionLog\\LogError\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaxFileSize" value="10240" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
    <param name="RollingStyle" value="Date" />
    <!--布局-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n【异常时间】：%d [%t] &lt;BR&gt;%n【异常级别】：%-5p &lt;BR&gt;%n【异 常 类】：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
    </layout>
  </appender>
  <!-- 信息日志附加介质-->
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="PermissionLog\\LogInfo\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd&quot;.htm&quot;" />
    <param name="RollingStyle" value="Date" />
    <!-- 信息日志布局-->
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n日志时间：%d [%t] &lt;BR&gt;%n日志级别：%-5p &lt;BR&gt;%n日 志 类：%c [%x] &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
    </layout>
  </appender>

  <!--定义输出到文件中-->
  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <!--定义文件存放位置-->
    <file value="Log/Log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd-HH:mm:ss" />
    <layout type="log4net.Layout.PatternLayout">
      <!--输出格式-->
      <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：%message%newline" />
    </layout>
  </appender>

  <!--定义邮件发送-->
  <appender name="LogSmtpAppender" type="log4net.Appender.SmtpAppender">
    <authentication value="Basic" />
    <to value="871939149@qq.com" />
    <from value="1211978300@qq.com" />
    <username value="1211978300@qq.com" />
    <password value="lhmlyx596568568" />
    <subject value="XXX应用错误日志消息" />
    <smtpHost value="smtp.exmail.qq.com" />
    <bufferSize value="1" />
    <!--超长部分是否丢弃-->
    <lossy value="true" />
    <!-- 下面的定义， 就是 日志级别 大于 WARN 的， 才发邮件.  -->
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="WARN" />
    </evaluator>
    <!-- 下面是 定义邮件的格式 （好多换行啊） -->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
    </layout>
  </appender>
</log4net>