<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="SystemId" value="3" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
 type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <!--<remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql"
           description=".Net Framework Data Provider for Postgresql Server"
         type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.11.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />-->
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="SendServiceWcf" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1408/SendMessageService.svc/SendMessageService"
        binding="wsDualHttpBinding" bindingConfiguration="SendServiceWcf"
        contract="SendMessageService.ISendMessageService" name="SendServiceWcf">
        <identity>
          <userPrincipalName value="UKYNDA-001\lhmlyx2723356" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>